.gallery {
    height: 100vh;
    width: 100vw;
    position: relative;
    animation: fadeIn 2s;

    display: grid;
    grid-template-columns: [sidebar-start]repeat(2, 16.25rem) 
    [sidebar-end gallery-gap-start] 2rem [gallery-start] 
    repeat(6, 1fr) [gallery-end] 2rem [gallery-end-gap];
    grid-template-rows: [header-start] .1fr;
}

.header {
    grid-column: 5 / 9;
    grid-row-start: 1;
    font-size: 9rem;
    justify-self: center;
}

.sidegallery {
    grid-column: gallery-start / gallery-end;
    columns: 3 24rem;
}

.sideGalleryItems {

    position: relative;
    justify-self: center;
    margin-top: .4rem;
    display: inline-block;

    img {
        width: 100%;
        object-fit: cover;
    }

    &:hover {
        filter: brightness(90%);
        cursor: pointer;
    }
}
 
.noLoadedImages {
    opacity: 0;
    visibility: hidden;
}

.loadedImages {
    opacity: 1;
    animation: longerFade 1s both;
}

.mounted {
    opacity: 1;
}

.unmounted {
    opacity: 0;
    // animation: fadeOut 1s both;
}

@keyframes fadeOut {
    0% {opacity: 1}
    100% {opacity: 0}
}

@keyframes longerFade {
    0% {opacity: 0}
    50% {opacity: 0}
    100% {opacity: 1}
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
