$black: white;
$white: orange;
$gray: #e1deef;
$primary-color-gray: rgb(179, 187, 196);
$secondary-color-gray: rgb(105, 110, 116);

$text-arrow-space: 1.6rem;
$shaft-width: 6.4rem;
$shaft-thickness: .2rem;
$arrow-head-width: 1.4rem;
$arrow-head-thickness: $shaft-thickness;