*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.carouselApp {
  position: relative;
}

.sidebarApp {
  all: initial;
  * {
    all: unset;
  }

  display: flex;
  justify-content: left;
  height: 100vh;
  
  bottom: 0;
  position: absolute;
  z-index: 1000;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  // Setting box-sizing to border-box so that padding & margins aren't included in the sizing
  line-height: 1.7
}