*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  visibility: visible;
  // Visibility hidden and opacity 0 is found in index.html between style tag.
  // Hidden and 0 will load first, hiding the flicker of unstyled content (FOUC) then visible and 1 will load after
  animation: showUp 1.3s both;
}

body {
  box-sizing: border-box;
  // Setting box-sizing to border-box so that padding & margins aren't included in the sizing
  line-height: 1.7
}

.app {
  height: 100vh;
}

.carouselApp {
  position: relative;
}

.sidebarApp {
  display: flex;
  height: 100%;
  bottom: 0;
  position: absolute;
  z-index: 1000;
}

@keyframes showUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}