@import './CarouselArrow.scss';

.carousel {

    &__container {
        position: relative;
        font-family: 'Playfair Display', serif;
        font-family: normal;
    }

    &__arrow {
        position: absolute;
        z-index: 100;
        height: 3vmin;
        width: 3vmin;
        cursor: pointer;
        bottom: 10vh;

        &--next {
            right: 38vw;
            @include arrow;

            .text {
                height: 5vh;
            }
        }

        &--prev {
            left: 38vw;
            @include arrow;
            transform: scaleX(-1);
            // Invert the whole animation, but text 'Previous' is inverted too

            .text {
                transform: scaleX(-1);
                height: 5vh;
                // Invert the text, 'Previous' so it's back to normal
            }
        }
    }

    &__image {
        width: 100vw;
        height: 100vh;
        position: relative;

        &-item {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(40%)
        }

        &-caption {
            position: absolute;
            color: gray;
            font-style: italic;
            font-size: 3rem;
            display: inline-block;
            text-decoration: none;

            bottom: 10vh;
            left: 50vw;
            transform: translate(-50%, 50%);
        }
    }
}
