.category {
  display: block;
  cursor: pointer;

  text-shadow: rgba(0, 0, 0, .2) 0em .5em .3em;

  &:hover {
    transform: translateY(-.2rem);
    text-shadow: rgba(0, 0, 0, .2) 0em .7em .5em;;  

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
}

.option {
  display: block;
  cursor: pointer;

}