@import '../../scss/_variables.scss';


.sidebar {
  all: initial;
  * {
    all: unset;
  }

  &.isDark {
    color: $secondary-color-gray
  }

  color: $primary-color-gray;
  box-sizing: border-box;
  height: 100%;
  padding: 2.9em;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  font-family: 'Lato';
  font-weight: 300;

  
  .header {
    display: flex;
    align-items: flex-start;
    
    .title {
      font-size: 2em;
      margin-left: .25em;
      display: flex;
      flex-direction: column;
    }
  }

  .section,
  .footer {
    animation: fazeIn .5s ease-in .1s;
    animation-fill-mode: backwards;
  }
  
  .section {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 2.5em 2.2em;

    .categoryContainer {
      display: flex;
      flex-direction: column;
      
      .category {
        display: block;
        cursor: pointer;
        font-size: 1.2em;
      }
      
      .categoryItems {
        padding-left: 1em;
        padding-top: .5em;
        display: flex;
        flex-direction: column;

        .categoryItem {
          height: 1.3em;
          animation: fazeIn .2s ease-in .1s;
          animation-fill-mode: backwards;

          &:nth-child(1) {
            animation-delay: .2s;
          }
          &:nth-child(2) {
            animation-delay: .3s;
          }
          &:nth-child(3) {
            animation-delay: .4s;
          }
          &:nth-child(4) {
            animation-delay: .5s;
          }
        }


        * + * {
          margin-top: .5em;
        }
      }
    }
  }
  .footer {
    font-size: .8em;
    // display: flex;
    flex-direction: column;
    margin-left: 3em;
    width: 3em;
    
    * {
      animation: fazeIn .5s ease-in .1s;
      animation-fill-mode: backwards;
      &:nth-child(1) {
        animation-delay: .7s;
      }
      &:nth-child(2) {
        animation-delay: .8s;
      }
    }
  }
}


.ig {
  width: auto;
}


.hoveringButton {
  display: flex;
  cursor: pointer;
  transition: all .2s;
  text-shadow: rgba(0, 0, 0, .2) 0em 0em .5em;

  &:hover {
    transform: scale(1.1);
    text-shadow: rgba(0, 0, 0, .2) 0m .1em 1em;
    
    h1 {
      transform: scale(1.01);
    }
  }

  &List:hover {
    transform: 
      translateX(.24em)
      scale(1.1)
      translateY(.015em);
  }

  &Active {
    font-size: 1.1em;

    &:hover {
      // color: blue;
      transform: translateX(0em) scale(1);
    }
  }
}

@keyframes fazeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}