.sidebar {
  all: initial;
  * {
    all: unset;
  }

  color: rgb(141, 148, 156);
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;

  
  .header {
    h1 {
      font-size: 1.5em
    }
  }
  
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;

    .categoryContainer {
      display: flex;
      flex-direction: column;
      align-items: center;

    
      &:focus {
        .dropdown {
          display: flex;
        }
      }
    
      // &:blur {
      //   .dropdown {
      //     // animation: fazeOut .5s ease-in .1s;
      //   }
      // }
    
      .category {
        font-size: 1.5em;
        display: block;
        cursor: pointer;
      }
    
      .dropdown {
        display: none;
        animation: fazeIn .5s ease-in .1s;
        animation-fill-mode: backwards;
        flex-direction: column;
        align-items: center;
      }
    }
  }
  
  .footer {
    font-size: 1.2em;
  }
}

.hoveringButton {
  display: flex;
  cursor: pointer;
  transition: all .2s;
  text-shadow: rgba(0, 0, 0, .2) 0em 0em .5em;

  &:hover {
    transform: scale(1.1);
    text-shadow: rgba(0, 0, 0, .2) 0m .1em 1em;
    
    h1 {
      transform: scale(1.01)
    }
  }
}

@keyframes fazeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fazeOut {
  0%   { opacity: 1; }

  99% { opacity: 0; }

  100% { display: none; }
}

@keyframes slideIn {
  to {
    width: 100%
  }
}