@import '../../scss/_variables.scss';


.sidebar {
  all: initial;
  * {
    all: unset;
  }

  color: $primary-color;
  background-color: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  height: 100%;
  padding: 2em 2em;
  position: absolute;
  bottom: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;

  
  .header {
    h1 {
      font-size: 1.5em
    }
  }
  
  .section {
    display: flex;
    flex-direction: column;
    height: 100%;

    .categoryContainer {
      display: flex;
      flex-direction: column;
    
      .category {
        font-size: 1.5em;
        display: block;
        cursor: pointer;
      }
    
      .categoryItems {
        display: flex;
        animation: fazeIn .5s ease-in .1s;
        animation-fill-mode: backwards;
        flex-direction: column;
      }
    }
  }
  
  .footer {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
  }
}

.hoveringButton {
  display: flex;
  cursor: pointer;
  transition: all .2s;
  text-shadow: rgba(0, 0, 0, .2) 0em 0em .5em;

  &:hover {
    transform: scale(1.1);
    text-shadow: rgba(0, 0, 0, .2) 0m .1em 1em;
    
    h1 {
      transform: scale(1.01)
    }
  }
}

@keyframes fazeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fazeOut {
  0%   { opacity: 1; }

  99% { opacity: 0; }

  100% { display: none; }
}

@keyframes slideIn {
  to {
    width: 100%
  }
}