.slideShow {
    position: relative;
    justify-self: center;
    margin-top: 1rem;
    display: inline-block;
    overflow-y: hidden;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.nextArrow {
    position: absolute;
}

.prevArrow {
    // position: absolute;
    border: 20px solid red;
}