@import './SlideshowArrow.module.scss';
@import '../../scss/_variables.scss';

.slideshowContainer {
    grid-column: gallery-start / gallery-end;
    position: relative;
    height: 100%;
    width: 100%;
}

.slideShow {
    position: relative;
    justify-self: center;
    margin-top: 1rem;
    display: inline-block;
    overflow-y: hidden;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.goBack {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 1.6rem;
    color: $secondary-color-gray;
    text-shadow: rgba(0, 0, 0, .2) 0em 0em .5em;
    position: absolute;
    z-index: 10000;
    cursor: pointer;
    margin-top: 2rem;
    bottom: 47vh;
    left: -24rem;
    transition: all .3s;
    position: absolute;

    &:hover {
        transform: scale(1.04);
    }
}

.arrowNext {
    position: absolute;
    @include slideshowArrow;
    left: -4.2vw;
    bottom: 49vh;
    z-index: 1000;
}

.arrowPrev {
    position: absolute;
    @include slideshowArrow;
    transform: scaleX(-1);
    left: -8.2vw;
    bottom: 49vh;
    z-index: 1000;
}